# these folders get modified by the mere act of opening a project. they must be ignored
**/[Ll]ibrary/
**/[Ll]ogs/
**/[Tt]emp/
**/[Uu]serSettings/
*.sln
*.csproj

*.apk
*.aab
*.unitypackage
*.app

*.pidb.meta
*.pdb.meta
*.mdb.meta
